<div class="welcome" >
    <section>
      <h1>Estimating Carbs is as easy as taking a picture</h1>
      <p>Accurate estimation of carbs is critical for Type 1 Diabetes management</p>
      <p>Scientific-Wild-Ass-Guessing (SWAG) has a new meaning now - leverage the power of AI to help you estimate your carbs more accurately</p>
    </section>
  </div>
  <section>

  <mat-card class="example-card">
 
    <img mat-card-image src="../../assets/img/food_photography.JPG" alt="camera photo">

      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/signup">Try It</button>
        <button mat-raised-button color="Accent" routerLink="/login">Login</button>
      </mat-card-actions>
  </mat-card>

</section>
